<!DOCTYPE html>
<html lang="en">

<head>
    <link id="main-css" rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Quiz Maker</title>
</head>

<body>
<div class="main">
    {{> header}}
<br>
<br>
<br>
    <div class="text-center">
        
        {{{body}}}


    </div>
    <br>
   
</div>

</body>

</html>